#sim {
    position: relative;
    float: left;
    width: 693px;
    height: 600px;
}

#outputContainer {
    overflow: hidden;
    height: 140px;
    width: 400px;
    border: 3px solid #ccc;
    padding: 10px;
    margin: 10px;
    bottom: 10px;
}

#carsim {
    overflow: hidden;
    height: 380px;
    width: 650px;
    border: 3px solid #ccc;
    padding: 10px;
    margin-left: 10px;
    bottom: 10px;
}

#outputbox {
    overflow: auto;
    height: 120px;
    width: 625px;
    padding: 13px;
}

#outputbox::-webkit-scrollbar {
    padding-right: 16px;
    width: 8px;
}

#outputbox::-webkit-scrollbar-thumb {
    background-color: rgb(203, 203, 203);
    border-radius: 10px;
}

.startbtn {
    margin: 10px;
    padding: 10px;
    float: left;
}

#box {
    position: relative;
    width: 352px;
    height: 352px;
    border: 1px solid #000;
    margin: 20px;
    overflow: hidden;
}

.cell {
    width: 30.4px;
    height: 30.4px;
    display: inline-block;
    margin: 1;
    padding: 0;
    font-size: 0;
    border: 1px solid #000;
    vertical-align: top;
    /* vertical-align 추가 */
}

/* 각 숫자에 대응하는 배경색을 지정 */
.cell-0 {
    background-color: rgb(186, 186, 186);
}

.cell-1 {
    background-color: #828282;
}

.cell-2 {
    background-color: red;
    background-image: url(./image/car.jpg);
}

.cell-3 {
    background-color: yellow;
    background-image: url(./image/goal.jpg);
}

.cell-4 {
    background-color: black;
}